<script>
(function() {
var check = document.createElement('script');
if (!('noModule' in check) && 'onbeforeload' in check) {
var support = false;
document.addEventListener('beforeload', function(e) {
if (e.target === check) {
support = true;
} else if (!e.target.hasAttribute('nomodule') || !support) {
return;
}
e.preventDefault();
}, true);
check.type = 'module';
check.src = '.';
document.head.appendChild(check);
check.remove();
}
}());
</script>
<script defer nomodule src="/assets/js/runtime-legacy-6677d2e546.js"></script><script defer nomodule src="/assets/js/main-legacy-8e0cd62958.js"></script>
<noscript><img src="https://www.google-analytics.com/collect?v=1&t=pageview&tid=UA-000000000-0&cid=noscript&cd7=noscript&dl={{ site.baseUrl | urlencode}}{{ page.path | urlencode }}"></noscript>