@-ms-viewport {
  width:device-width;
}

@-o-viewport {
  width:device-width;
}

@viewport {
  width:device-width;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

sub,sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

*,:after,:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,html {
  height: 100%;
}

body {
  color: #333;
  font: 1em/1.5 sans-serif;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

h1,h2,h3,h4 {
  font-weight: 500;
  line-height: 1.1;
  margin: 1em 0;
}

p {
  margin: 0 0 1.5em;
}

a {
  color: #666;
}

article sup a {
  padding: 0 .25em;
  text-decoration: none;
}

code {
  background: hsla(30,15%,50%,.1);
  border-radius: 2px;
  display: inline-block;
  font-family: Monaco,monospace;
  padding: 2px 3px 1px;
  text-decoration: inherit;
}

code,pre code {
  font-size: .875em;
}

pre code {
  background: inherit;
  color: inherit;
  display: block;
  padding: 0;
}

a>code {
  padding-left: 0;
  padding-right: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

blockquote {
  border-left: 4px solid #ededed;
  color: grey;
  font-style: italic;
  padding: .3em 0 .3em 1em;
  line-height: 1.3;
  font-size: 1.05em;
  margin: 0 0 1.75em;
}

blockquote p:last-child {
  margin-bottom: 0;
}

ol,ul {
  margin: 0 0 1.5em;
  padding-left: 2em;
}

ul {
  list-style-type: square;
}

ol ol,ol ul,ul ol,ul ul {
  margin-bottom: 0;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

figure {
  margin: 0 0 1.5em;
}

figcaption {
  color: #666;
  font-style: italic;
  font-size: .8em;
  padding: 0 .5em;
  text-align: right;
}

figcaption a {
  color: #4db380;
  border-bottom: 1px dotted #4db380;
  text-decoration: none;
}

figcaption a:hover {
  border-bottom-style: solid;
}

figure img {
  border: 1px solid #f0edea;
  border-radius: 3px;
  height: auto;
  max-width: 100%;
  padding: 3px;
}

table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  max-width: 100%;
  width: 100%;
}

table th {
  background-color: #f4f2f0;
  vertical-align: bottom;
}

table td,table th {
  border: 1px solid #f0edea;
  padding: .75em;
  text-align: left;
  vertical-align: top;
}

iframe,video {
  width: 100%;
}

video {
  border: 1px solid #f0edea;
}

input[type=text],
input[type=email],
textarea {
  background: #fff;
  border: 1px solid #d4ccc4;
  border-radius: 3px;
  font: inherit;
  font-size: .9em;
  font-weight: 400;
  padding: .5em .75em;
  width: 100%;
}

label {
  color: #595959;
  display: block;
  font-size: .9em;
  margin-bottom: .5em;
}

label>input[type=checkbox] {
  margin-right: .5em;
}

.Alert {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  background: #c33;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.4);
  box-shadow: 0 0 10px rgba(0,0,0,.4);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  padding: 1.5em 1.25em;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
  -webkit-transition: -webkit-transform .2s cubic-bezier(.4,0,.2,1);
  transition: -webkit-transform .2s cubic-bezier(.4,0,.2,1);
  transition: transform .2s cubic-bezier(.4,0,.2,1);
  transition: transform .2s cubic-bezier(.4,0,.2,1),-webkit-transform .2s cubic-bezier(.4,0,.2,1);
}

.Alert--active {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.Alert-icon {
  font-size: 3em;
}

.Alert-close {
  background: 0 0;
  border: 0;
  font-size: 2em;
  opacity: .4;
  padding: .25em;
}

.Alert-close:active,.Alert-close:focus,.Alert-close:hover {
  opacity: 1;
  outline: 0;
}

.Alert-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  margin: 0 1.25em;
}

.Alert-title {
  color: inherit;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1.1;
  margin: 0;
}

.Alert-message {
  font-weight: 300;
  margin-top: .4em;
  opacity: .7;
}

@media (min-width:48em) {
  .Alert {
    padding: 1.75em;
  }
}

.AlertContainer {
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.ArticleList {
  list-style: none;
  margin: 0;
  padding: 0;
}

.ArticleList-item {
  border-top: 1px solid #f0edea;
  padding: 1.5em 0;
  position: relative;
}

.ArticleList-item:first-child {
  border-top: 0;
  padding-top: 0;
}

@media (min-width:48em) {
  .ArticleList-item {
    padding: 1.75em 0;
  }
}

.ArticlePreview {
  color: inherit;
  display: block;
  text-decoration: none;
}

.ArticlePreview-title {
  display: block;
  font-size: 1.6em;
  line-height: 1.1;
  margin: .667em 0 .333em;
  -webkit-transition: color .2s cubic-bezier(.4,0,.2,1);
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.ArticlePreview-excerpt {
  color: #595959;
  line-height: 1.4;
  margin: 0;
}

.ArticlePreview-date {
  color: #595959;
  font-size: .9em;
}

.ArticlePreview:hover .ArticlePreview-title {
  color: #4db380;
}

.Button {
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
  display: inline-block;
  padding: .75em 1.5em;
  background: #4db380;
  color: #fff;
  border: 0;
  border-radius: 2px;
  cursor: pointer;
  font-size: 1em;
  line-height: normal;
  text-decoration: none;
  white-space: nowrap;
}

.Button:active,.Button:focus,.Button:hover {
  border: 0;
  background: #3d8f66;
  text-decoration: none;
}

.Callout {
  background: #f4f2f0;
  margin: 1.5em -1.25em;
  padding: 1.5em 1.25em;
}

.Callout :last-child {
  margin-bottom: 0;
}

@media (min-width:36em) {
  .Callout {
    margin: 1.5em -1.5em;
    padding: 1.5em;
  }
}

@media (min-width:48em) {
  .Callout {
    border-radius: 3px;
    margin: 1.5em 0;
    padding: 1.5em;
  }
}

.CodepenContainer {
  border: #3d3d3e currentColor;
  border-width: 0 1px 1px;
  margin: 0 0 1.5em;
}

.ContentHeader {
  border-bottom: 1px solid #f0edea;
  margin-bottom: 1.5em;
  padding: 0 0 1.5em;
}

.ContentHeader-articleTitle {
  font-size: 1.75em;
  margin: 0;
}

.ContentHeader-meta {
  font-size: .875em;
  margin: 1em 0 0;
}

.ContentHeader-articleDate {
  margin-right: .5em;
}

.ContentHeader-articleTranslations {
  color: #595959;
  font-style: italic;
}

.ContentHeader-pageTitle {
  color: #595959;
  font-size: .8em;
  letter-spacing: .15em;
  margin: 0;
  text-align: left;
  text-transform: uppercase;
  word-spacing: .5em;
}

@media (min-width:48em) {
  .ContentHeader {
    margin-bottom: 1.75em;
    padding: 0 0 1.75em;
  }

  .ContentHeader-articleTitle {
    font-size: 2.5em;
  }

  .ContentHeader-pageTitle {
    text-align: center;
  }
}

.Demo {
  border-top: 1px solid #f0edea;
  padding-top: 1.5em;
}

.Drawer {
  -webkit-box-shadow: 0 0 .5em rgba(0,0,0,.3);
  box-shadow: 0 0 .5em rgba(0,0,0,.3);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
  transition: opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
  transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1);
  transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
}

.Drawer--closed {
  visibility: hidden;
}

.Drawer--open {
  opacity: 1;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.Drawer--closing,.Drawer--opening {
  visibility: visible;
}

.Drawer--closing {
  opacity: 0;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.Drawer--opening {
  opacity: 1;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.Drawer-content {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #f4f2f0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1.5em 1.25em;
}

.Drawer-site,.Drawer-social {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
}

@media (min-width:36em) {
  .Drawer-content {
    padding: 1.5em;
  }
}

@media (min-width:48em) {
  .Drawer {
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: none;
    transition: none;
    visibility: visible;
  }

  .Drawer-content {
    padding: 0;
  }

  .Drawer-site {
    display: block;
  }
}

.Footnotes {
  border-top: 1px solid #f0edea;
  color: #555;
  padding-top: 1.5em;
}

.Footnotes-title {
  font-size: 1em;
  margin: 0 0 .8em;
}

.Footnotes-items {
  font-size: .9em;
}

.Footnotes-items li {
  margin-bottom: .4em;
}

.Header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #404040;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  letter-spacing: .025em;
  padding: 1.5em 1.25em;
  position: relative;
  -webkit-transition: border-color .5s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .5s cubic-bezier(.4,0,.2,1);
  transition: border-color .5s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .5s cubic-bezier(.4,0,.2,1);
  transition: border-color .5s cubic-bezier(.4,0,.2,1),box-shadow .5s cubic-bezier(.4,0,.2,1);
  transition: border-color .5s cubic-bezier(.4,0,.2,1),box-shadow .5s cubic-bezier(.4,0,.2,1),-webkit-box-shadow .5s cubic-bezier(.4,0,.2,1);
}

.Header--drawerOpen {
  -webkit-box-shadow: 0 0 .5em rgba(0,0,0,.3);
  box-shadow: 0 0 .5em rgba(0,0,0,.3);
}

.Header-info {
  color: #e6e6e6;
  display: block;
  -webkit-box-flex: 1;
  -ms-flex: 1 0 0%;
  flex: 1 0 0%;
  text-decoration: none;
}

.Header-title {
  color: inherit;
  font-size: 1.2em;
  line-height: 1;
  margin: 0;
  text-transform: uppercase;
  word-spacing: .25em;
}

.Header-tagline {
  font-size: .8em;
  margin: .15em 0 0;
  opacity: .8;
}

.Header-drawer {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
}

.Header-drawerToggle {
  color: #e6e6e6;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5em;
}

@media (min-width:36em) {
  .Header {
    padding: 1.5em;
  }
}

@media (min-width:48em) {
  .Header {
    background: #f4f2f0;
    -webkit-transition: opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
    transition: opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
    transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1);
    transition: transform .25s cubic-bezier(.4,0,.2,1),opacity .25s cubic-bezier(.4,0,.2,1),-webkit-transform .25s cubic-bezier(.4,0,.2,1);
    padding: 1.75em;
  }

  .Header--drawerOpen {
    -webkit-box-shadow: none;
    box-shadow: none;
  }

  .Header-info {
    color: #666;
  }

  .Header-info:hover .Header-title {
    color: #454d5d;
  }

  .Header-title {
    -webkit-transition: color .25s cubic-bezier(.4,0,.2,1);
    transition: color .25s cubic-bezier(.4,0,.2,1);
  }

  .Header-drawerToggle {
    display: none;
  }

  .Header-drawerToggle svg {
    color: #666;
  }

  .Header-drawer {
    -webkit-box-flex: 2;
    -ms-flex: 2 0 0%;
    flex: 2 0 0%;
    position: static;
    z-index: 0;
  }
}

.Icon {
  display: inherit;
  fill: currentColor;
  height: 1em;
  width: 1em;
}

.Info {
  background: rgba(0,255,0,.07);
  margin: 1.5em -1.25em;
  padding: 1.5em 1.25em;
}

.Info :last-child {
  margin-bottom: 0;
}

@media (min-width:36em) {
  .Info {
    margin: 1.5em -1.5em;
    padding: 1.5em;
  }
}

@media (min-width:48em) {
  .Info {
    border-radius: 3px;
    margin: 1.5em 0;
    padding: 1.5em;
  }
}

.Media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.Media-subject {
  margin: 0 0 1em;
}

@media (min-width:36em) {
  .Media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .Media-subject {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 0%;
    flex: 0 1 0%;
    min-width: 240px;
    margin: 0 1.5em 0 0;
    -webkit-box-ordinal-group: 0;
    -ms-flex-order: -1;
    order: -1;
  }

  .Media-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 0%;
    flex: 1 0 0%;
  }
}

.Share {
  background: #f4f2f0;
  border-radius: 3px;
  margin-top: 3em;
  padding: 1.25em;
}

.Share,.Share-figure {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Share-figure {
  color: #55acee;
  font-size: 1.5em;
}

.Share-pitch {
  color: #666;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: .9em;
  margin: 0;
  padding-left: 1em;
}

.Site-header {
  position: relative;
  z-index: 1;
}

.Site-contentContainer {
  padding: 1.9995em 1.25em;
}

.Site-content {
  margin: 0 auto;
}

@media (min-width:36em) {
  .Site-contentContainer {
    padding: 1.9995em 1.5em;
  }
}

@media (min-width:48em) {
  .Site-contentContainer {
    padding-top: 5.25em;
  }

  .Site-content {
    max-width: 40em;
  }
}

.SiteNav {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
}

.SiteNav,.SiteNav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.SiteNav-items {
  list-style: none;
}

.SiteNav-item+.SiteNav-item {
  margin-left: 1.25em;
}

.SiteNav-link {
  color: #595959;
  font-size: .9em;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color .2s cubic-bezier(.4,0,.2,1);
  transition: color .2s cubic-bezier(.4,0,.2,1);
}

.SiteNav-link+.SiteNav-link {
  margin-left: 2em;
}

.SiteNav-link:active,.SiteNav-link:focus,.SiteNav-link:hover {
  color: #454d5d;
}

@media (min-width:36em) {
  .SiteNav-item+.SiteNav-item {
    margin-left: 1.5em;
  }
}

@media (min-width:48em) {
  .SiteNav-item+.SiteNav-item {
    margin-left: 1.75em;
  }
}

.SocialNav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width:48em) {
  .SocialNav {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.SocialNav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.SocialNav-item+.SocialNav-item {
  margin-left: .9em;
}

.SocialNav-link {
  color: #ababab;
  font-size: 1.5em;
  -webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
  transition: all .2s cubic-bezier(.4,0,.2,1);
}

.SocialNav-link--twitter:hover {
  color: #55acee;
}

.SocialNav-link--github:hover {
  color: #171715;
}

.SocialNav-link--rss:hover {
  color: #f93;
}

.UnstyledButton {
  background: 0 0;
  border: 0;
}

.VideoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
}

.VideoContainer-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.VisuallyHidden {
  position: absolute!important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px,1px,1px,1px);
  padding: 0!important;
  border: 0!important;
  height: 1px!important;
  width: 1px!important;
  overflow: hidden;
}

body:hover .VisuallyHidden a,body:hover .VisuallyHidden button,body:hover .VisuallyHidden input {
  display: none!important;
}

pre {
  background: #f4f2f0;
  margin: 1.5em -1.25em;
  overflow: auto;
  padding: 1.5em 1.25em;
  -webkit-text-size-adjust: none;
  white-space: pre;
}

pre mark {
  background-color: rgba(255,255,0,.4);
  -webkit-box-shadow: 0 0 0 .1em rgba(255,255,0,.4);
  box-shadow: 0 0 0 .1em rgba(255,255,0,.4);
  font-style: normal;
}

@media (min-width:36em) {
  pre {
    margin: 1.5em -1.5em;
    padding: 1.5em;
  }
}

@media (min-width:48em) {
  pre {
    border-radius: 3px;
    margin: 1.5em 0;
    padding: 1.5em;
  }
}
