.Container{
    max-width:50em;
    margin:0 auto
}


.Feature-figure{
    margin-bottom:.75em;
    border:1px solid #d9d9d9;
    -webkit-transition:border-color .2s;
    transition:border-color .2s
}
.Feature-image{
    display:block;
    max-width:100%;
    height:auto;
    border:5px solid #fff
}
.Feature-title{
    margin:0 0 .5em;
    color:#333;
    text-align:center;
    -webkit-transition:color .1s;
    transition:color .1s
}
.Feature-description{
    margin:0 .75em;
    font-size:.8em
}
.Feature a:active .Feature-figure,.Feature a:focus .Feature-figure,.Feature a:hover .Feature-figure{
    border-color:#666
}
.Feature a:active .Feature-title,.Feature a:focus .Feature-title,.Feature a:hover .Feature-title{
    color:#666
}





.Grid{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    list-style:none;
    margin:0;
    padding:0
}
.Grid-cell{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}
.Grid--flexCells>.Grid-cell{
    display:-webkit-box;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex
}
.Grid--top{
    -webkit-box-align:start;
    -webkit-align-items:flex-start;
    -ms-flex-align:start;
    align-items:flex-start
}
.Grid--bottom{
    -webkit-box-align:end;
    -webkit-align-items:flex-end;
    -ms-flex-align:end;
    align-items:flex-end
}
.Grid--center{
    -webkit-box-align:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center
}
.Grid--justifyCenter{
    -webkit-box-pack:center;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center
}
.Grid-cell--top{
    -webkit-align-self:flex-start;
    -ms-flex-item-align:start;
    align-self:flex-start
}
.Grid-cell--bottom{
    -webkit-align-self:flex-end;
    -ms-flex-item-align:end;
    align-self:flex-end
}
.Grid-cell--center{
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    align-self:center
}
.Grid-cell--autoSize{
    -webkit-box-flex:0;
    -webkit-flex:none;
    -ms-flex:none;
    flex:none
}
.Grid--fit>.Grid-cell{
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1
}
.Grid--full>.Grid-cell{
    -webkit-box-flex:0;
    -webkit-flex:0 0 100%;
    -ms-flex:0 0 100%;
    flex:0 0 100%
}
.Grid--1of2>.Grid-cell{
    -webkit-box-flex:0;
    -webkit-flex:0 0 50%;
    -ms-flex:0 0 50%;
    flex:0 0 50%
}
.Grid--1of3>.Grid-cell{
    -webkit-box-flex:0;
    -webkit-flex:0 0 33.3333%;
    -ms-flex:0 0 33.3333%;
    flex:0 0 33.3333%
}
.Grid--1of4>.Grid-cell{
    -webkit-box-flex:0;
    -webkit-flex:0 0 25%;
    -ms-flex:0 0 25%;
    flex:0 0 25%
}
@media (min-width:384px){
    .small-Grid--fit>.Grid-cell{
        -webkit-box-flex:1;
        -webkit-flex:1;
        -ms-flex:1;
        flex:1
    }
    .small-Grid--full>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 100%;
        -ms-flex:0 0 100%;
        flex:0 0 100%
    }
    .small-Grid--1of2>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 50%;
        -ms-flex:0 0 50%;
        flex:0 0 50%
    }
    .small-Grid--1of3>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 33.3333%;
        -ms-flex:0 0 33.3333%;
        flex:0 0 33.3333%
    }
    .small-Grid--1of4>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 25%;
        -ms-flex:0 0 25%;
        flex:0 0 25%
    }
}
@media (min-width:576px){
    .med-Grid--fit>.Grid-cell{
        -webkit-box-flex:1;
        -webkit-flex:1;
        -ms-flex:1;
        flex:1
    }
    .med-Grid--full>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 100%;
        -ms-flex:0 0 100%;
        flex:0 0 100%
    }
    .med-Grid--1of2>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 50%;
        -ms-flex:0 0 50%;
        flex:0 0 50%
    }
    .med-Grid--1of3>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 33.3333%;
        -ms-flex:0 0 33.3333%;
        flex:0 0 33.3333%
    }
    .med-Grid--1of4>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 25%;
        -ms-flex:0 0 25%;
        flex:0 0 25%
    }
}
@media (min-width:768px){
    .large-Grid--fit>.Grid-cell{
        -webkit-box-flex:1;
        -webkit-flex:1;
        -ms-flex:1;
        flex:1
    }
    .large-Grid--full>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 100%;
        -ms-flex:0 0 100%;
        flex:0 0 100%
    }
    .large-Grid--1of2>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 50%;
        -ms-flex:0 0 50%;
        flex:0 0 50%
    }
    .large-Grid--1of3>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 33.3333%;
        -ms-flex:0 0 33.3333%;
        flex:0 0 33.3333%
    }
    .large-Grid--1of4>.Grid-cell{
        -webkit-box-flex:0;
        -webkit-flex:0 0 25%;
        -ms-flex:0 0 25%;
        flex:0 0 25%
    }
}
.Grid--gutters{
    margin:-1em 0 1em -1em
}
.Grid--gutters>.Grid-cell{
    padding:1em 0 0 1em
}
.Grid--guttersLg{
    margin:-1.5em 0 1.5em -1.5em
}
.Grid--guttersLg>.Grid-cell{
    padding:1.5em 0 0 1.5em
}
.Grid--guttersXl{
    margin:-2em 0 2em -2em
}
.Grid--guttersXl>.Grid-cell{
    padding:2em 0 0 2em
}
@media (min-width:384px){
    .small-Grid--gutters{
        margin:-1em 0 1em -1em
    }
    .small-Grid--gutters>.Grid-cell{
        padding:1em 0 0 1em
    }
    .small-Grid--guttersLg{
        margin:-1.5em 0 1.5em -1.5em
    }
    .small-Grid--guttersLg>.Grid-cell{
        padding:1.5em 0 0 1.5em
    }
    .small-Grid--guttersXl{
        margin:-2em 0 2em -2em
    }
    .small-Grid--guttersXl>.Grid-cell{
        padding:2em 0 0 2em
    }
}
@media (min-width:576px){
    .med-Grid--gutters{
        margin:-1em 0 1em -1em
    }
    .med-Grid--gutters>.Grid-cell{
        padding:1em 0 0 1em
    }
    .med-Grid--guttersLg{
        margin:-1.5em 0 1.5em -1.5em
    }
    .med-Grid--guttersLg>.Grid-cell{
        padding:1.5em 0 0 1.5em
    }
    .med-Grid--guttersXl{
        margin:-2em 0 2em -2em
    }
    .med-Grid--guttersXl>.Grid-cell{
        padding:2em 0 0 2em
    }
}
@media (min-width:768px){
    .large-Grid--gutters{
        margin:-1em 0 1em -1em
    }
    .large-Grid--gutters>.Grid-cell{
        padding:1em 0 0 1em
    }
    .large-Grid--guttersLg{
        margin:-1.5em 0 1.5em -1.5em
    }
    .large-Grid--guttersLg>.Grid-cell{
        padding:1.5em 0 0 1.5em
    }
    .large-Grid--guttersXl{
        margin:-2em 0 2em -2em
    }
    .large-Grid--guttersXl>.Grid-cell{
        padding:2em 0 0 2em
    }
}


.Section{
    padding:0 1.5em
}
.Section:nth-child(2n){
    background-color:hsla(31,15%,50%,.1);
    overflow:hidden
}
.Section:after,.Section:before{
    content:'\00a0';
    display:block;
    height:0;
    visibility:hidden
}
.Section:before{
    margin-bottom:1.5em
}
.Section:after{
    margin-top:1.5em
}
@media (min-width:768px){
    .Section{
        padding:0 2em
    }
    .Section:before{
        margin-bottom:2em
    }
    .Section:after{
        margin-top:2em
    }
}
.Section-heading{
    text-align:center
}
@media (min-width:768px){
    .Section-list{
        padding:0;
        margin:0 4em 2em
    }
}




.u-full{
    width:100%!important
}
.u-1of2,.u-full{
    -webkit-box-flex:0!important;
    -webkit-flex:none!important;
    -ms-flex:none!important;
    flex:none!important
}
.u-1of2{
    width:50%!important
}
.u-1of3{
    width:33.3333%!important
}
.u-1of3,.u-2of3{
    -webkit-box-flex:0!important;
    -webkit-flex:none!important;
    -ms-flex:none!important;
    flex:none!important
}
.u-2of3{
    width:66.6667%!important
}
.u-1of4{
    width:25%!important
}
.u-1of4,.u-3of4{
    -webkit-box-flex:0!important;
    -webkit-flex:none!important;
    -ms-flex:none!important;
    flex:none!important
}
.u-3of4{
    width:75%!important
}
@media (min-width:384px){
    .u-small-full{
        width:100%!important
    }
    .u-small-1of2,.u-small-full{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-small-1of2{
        width:50%!important
    }
    .u-small-1of3{
        width:33.3333%!important
    }
    .u-small-1of3,.u-small-2of3{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-small-2of3{
        width:66.6667%!important
    }
    .u-small-1of4{
        width:25%!important
    }
    .u-small-1of4,.u-small-3of4{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-small-3of4{
        width:75%!important
    }
}
@media (min-width:576px){
    .u-med-full{
        width:100%!important
    }
    .u-med-1of2,.u-med-full{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-med-1of2{
        width:50%!important
    }
    .u-med-1of3{
        width:33.3333%!important
    }
    .u-med-1of3,.u-med-2of3{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-med-2of3{
        width:66.6667%!important
    }
    .u-med-1of4{
        width:25%!important
    }
    .u-med-1of4,.u-med-3of4{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-med-3of4{
        width:75%!important
    }
}
@media (min-width:768px){
    .u-large-full{
        width:100%!important
    }
    .u-large-1of2,.u-large-full{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-large-1of2{
        width:50%!important
    }
    .u-large-1of3{
        width:33.3333%!important
    }
    .u-large-1of3,.u-large-2of3{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-large-2of3{
        width:66.6667%!important
    }
    .u-large-1of4{
        width:25%!important
    }
    .u-large-1of4,.u-large-3of4{
        -webkit-box-flex:0!important;
        -webkit-flex:none!important;
        -ms-flex:none!important;
        flex:none!important
    }
    .u-large-3of4{
        width:75%!important
    }
}
.u-smaller{
    font-size:.85em
}
.u-bigger{
    font-size:1.2em
}
.icon-big{
    font-size:1.5em
}


.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }




  @font-face {
  font-family: 'icomoon';
  src:  url('/assets/fonts/icomoon.eot?9v48v9');
  src:  url('/assets/fonts/icomoon.eot?9v48v9#iefix') format('embedded-opentype'),
    url('/assets/fonts/icomoon.ttf?9v48v9') format('truetype'),
    url('/assets/fonts/icomoon.woff?9v48v9') format('woff'),
    url('/assets/fonts/icomoon.svg?9v48v9#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-behance:before {
  content: "\e900";
  color: #1769ff;
}
.icon-instagram:before {
  content: "\e901";
  color: #e4405f;
}
.icon-linkedin:before {
  content: "\e902";
  color: #0077b5;
}
.icon-mail:before {
  content: "\e903";
  color: #168de2;
}
.icon-phone:before {
  content: "\e904";
  color: #25d366;
}

.text-center {
  text-align: center;
}


/*
 * responsive-carousel
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
 */
.carousel {
 margin: 10px auto;
 max-width: 640px;
 font-family: sans-serif;
 position: relative;
}
.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
}
.carousel-nav {
  position: absolute;
  bottom: 0;
  z-index: 4;
  width: 100%;
}
.carousel-nav a {
  text-decoration: none;
  font-size: .8em;
  background: #fff;
  color: #333;
  opacity: .8;
  padding: .5em;
  position: absolute;
  bottom: 0;
  font-weight: bold;
}
.carousel-nav a.prev {
  left: 0;
}
.carousel-nav a.next {
  right: 0;
}
.carousel-nav-paginated .carousel-active-page a {
  background: #333;
  color: #fff;
  opacity: .8;
}


/* styled arrows */
.arrows .carousel-nav {
  bottom: auto;
  top: 50%;
}
.arrows .carousel-nav a {
  text-indent: -9999px;
  width: 2em;
  height: 2em;
  background: #fff;
  opacity: .5;
  overflow: hidden;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  border-radius: 100%;
}
.arrows .carousel-nav a:hover,
.arrows .carousel-nav a:focus {
  opacity: 1;
}
.arrows .carousel-nav a.next {
  background-image: url(arrow-right.png);
  right: 1em;
}
.arrows .carousel-nav a.prev {
  background-image: url(arrow-left.png);
  left: 1em;
}
.carousel-item {
  position: relative;
}
.carousel a:focus,
.carousel .carousel-item:focus:after  {
  outline: 2px dotted orange;
}
.carousel .carousel-item:focus:after {
  content: "\20";
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  bottom: 2px;
}

/*
 * responsive-carousel
 * https://github.com/filamentgroup/responsive-carousel
 *
 * Copyright (c) 2012 Filament Group, Inc.
 * Licensed under the MIT, GPL licenses.
*/
.carousel-fade {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* necessary for non-active slides */
    display: block; /* overrides basic carousel styles */
    -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    -ms-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
}
.carousel-fade .carousel-active {
    position: relative;
}

.carousel-item {
    opacity: 0;
}

.carousel-active {
    opacity: 1;
}

.carousel-fade .carousel-out {
    opacity: 0;
}

.carousel-fade .carousel-in {
    opacity: 1;
}
