<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}" xmlns:og="http://ogp.me/ns#" xmlns:fb="http://ogp.me/ns/fb#">
<head>{% capture canonical %}{{ site.url }}{% if site.permalink contains '.html' %}{{ page.url }}{% else %}{{ page.url | remove:'index.html' | strip_slash }}{% endif %}{% endcapture %}
{% include head.html %}
{% include ga.html %}
{% include scripts.html %}
{% include icons.html %}
</head>
<body class="Site">
{% include header.html %}
<div class="Site-contentContainer">
<main class="Site-content">
<article role="article" class="hentry" id="content">
<header class="ContentHeader">
<h1 class="ContentHeader-pageTitle">{{ site.title }}: {{ site.subtitle }}</h1>
</header>
</article>
{{ content }}
</main>
</div>
{% include metadata.json %}
{% include footer.html %}
</body>
</html>
